<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImageOrganizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ImageOrganizer.Properties.Settings>
            <setting name="sourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="destinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="exstensions" serializeAs="String">
                <value />
            </setting>
            <setting name="renameOption" serializeAs="String">
                <value />
            </setting>
            <setting name="fileNameExistsAction" serializeAs="String">
                <value />
            </setting>
            <setting name="firstLevelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="secondLevelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="thirdLevelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="move" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeSubfolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="findCameraData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="firstLevelFolderCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="secondLevelFolderCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="thirdLevelFolderCustom" serializeAs="String">
                <value />
            </setting>
        </ImageOrganizer.Properties.Settings>
    </userSettings>
</configuration>
